body {
  margin: 0;
  background-color: gray;
  font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

code {
  font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

@font-face {
  font-family: PFBeatSansPro-SemiBold;
  src: url("fonts/ledel/PFBeauSansPro-SemiBold.otf");
}@font-face {
  font-family: PFBeatSansPro-regular;
  src: url("fonts/ledel/PFBeauSansPro-Regular.otf");
}
.withFont{
  font-family: PFBeatSansPro-SemiBold;
}

.model-viewer {
  flex-direction: column;
  height: 400px;
  display: flex;
} 

.video {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.model-viewer h2, .video h2{
  font-family: PFBeatSansPro-SemiBold;
}
.ll{
  font-family: PFBeatSansPro-SemiBold;
  text-decoration: none;
  position: relative;
  left: 10px;
  color: black;
  font-size: 19px;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
canvas {
  display: block !important; /* fix necessary to remove space at bottom of canvas */
  width: 100% !important;
  aspect-ratio: inherit !important;
  height: 100% !important;
}

.tooltip {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  font-size: 15px;
  text-align: center;
  opacity: 0.7
}

.popup {
  box-shadow: 0 0 18px;
  z-index: 100;
  border-radius: 10px;
  user-select: text;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-self: center;
  background: white;
  width: 500px;
  height: 800px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 21px;
  height: 21px;
}
::-webkit-scrollbar-thumb {
  background: #383838;
  border: 0px none #121212;
  border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.name{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-top: -50px;
  background: #5A5A5A;
  color: white;
  width: 80%;
}

.hide-btn{
  border: none;
  background: transparent;
  left: 400px;
  cursor: pointer;
  position: sticky;
  top: 33px;
  margin-bottom: 40px;
  border-radius: 50px;
  background: rgba(255,255,255,0.95);
  z-index: 10;
  width: 50px;
  height: 50px;
}

.name-text{
  font-family: PFBeatSansPro-SemiBold;
  position: relative;
  margin-left: 30px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.size{
  width: 36px;
  height: 36px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.info{
  position: relative;
  width: 420px;
  justify-self: center;
  left: 40px;
}
.info h2, .projects h2{
  font-family: PFBeatSansPro-SemiBold;
}
.info p{
  font-family: PFBeatSansPro-regular;
  font-size: 20px;
}

.video h2, .projects h2, .model-viewer h2{
  position: relative;
  width: 420px;
  left: 40px;
}

.video-player{
  width: 500px;
}

.slider-video-wrapper, .slider-video {
  height: 100%;
  width: 100%;
}

.slider img {
  cursor: pointer;
}

.footer {
  margin-top: auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  height: 100px;
}

.logo{
  position: relative;
  width: 30%;
  height: 100%;
}

.logo > img{
  width: 100%;
  height: 100%;
}

.linkTo{
  font-family: PFBeatSansPro-SemiBold;
  position: relative;
  width: 250px;
  font-size: 12px;
}
.linkToBig{
  display: flex;
  width: 60%;
  padding: 10px;
  font-family: PFBeatSansPro-SemiBold;
  position: relative;
  font-size: 19px;
}
.arrow{
  position: relative;
  height:100%;
  max-height: 50px;
  object-fit: cover;
}

.link{
  left: 80%;
  top: 30px;
}

/*navigation*/

#map-nav {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 40px;
}

#menu-nav {
  position: relative;
  box-shadow: 0 0 10px;
  top: 50px;
  background: white;
  border-radius: 3px;
}

#menu-nav > ul {
  padding: 10px;
  width: 280px;
}

#preloader {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  transition: .3s;
  background: gray;
}


#preloader div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height:100px;
  width: 100px;
  margin: auto;
}


#preloader img {
  margin: auto;
  height:30px;
  width: 30px;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welcome-popup {
  box-shadow: 0 0 5px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 274px;
  z-index: 20;
  text-align: left;
  padding: 15px;
}


.welcome-popup .close {
  font-size: 40px;
  cursor: pointer;
  color: red;
  position: absolute;
  top: -20px;
  right: 10px;
}

.info-button {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
}

.info-button img {
  object-fit:cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#menu-nav li{
  position: relative;
  height: 35px;
  padding: 5px;
  list-style-type: none;
  margin-right: 40px;
}




#menu-nav li a{
  font-size: 1em;
}


#menu-nav li button{
  font-family: "PFBeatSansPro-SemiBold";
  position: relative;
  border: none;
  background: white;
  font-weight: 500;
  left: 20px;
}

#open_map{
  position: absolute;
}
#close_map{
  position: absolute;
}


.slider, .video {
  margin-bottom: 30px;
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 600px) {
  .popup {
    width: 350px;
    height: 600px;
    left: 51%;
  }

  .info{
      position: relative;
      width: 300px;
      justify-self: center;
      left: 20px;
  }

  .footer {
    padding: 5px;
  }

  .slider-video-wrapper, .slider-video {
    height: 100%;
    width: 100%;
  }

  .hide-btn{
      left: 275px;
      cursor: pointer;
  }
}
